@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.hide {
  display: none !important;
}


a{
  text-decoration: none !important;
  color: inherit ;
}

a:hover{
  text-decoration: none !important;
  color: inherit ;
}

body{
  background-color: #00151f !important;
}
ul{
  list-style: none !important;
  margin: 0 !important;
}


.hide{
  display: none !important;
}


::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 25px;

}



*{
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none !important;
}

ul{
  list-style: none !important;
  margin: 0 !important;
}
